<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, nobis architecto doloribus porro vel adipisci sunt accusamus optio. Ipsa fugit fugiat incidunt maiores esse cupiditate aspernatur eligendi et aliquam unde?</p>
    </div>
</section>