<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsa quos cum provident ratione corporis sint saepe vel aut est eum obcaecati ad ea autem nisi ut, minus, tenetur illo?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit placeat eligendi quaerat animi, tempora sed?</p>
    <a href="/notes/add" class="btn btn-primary">Comenzar</a>
</div>